body{
  font-family: 'Roboto',sans-serif;
  color: #333;
}

img{
  max-width: 100%;
  height: auto;
}

* {/* asterik is for selecting every single element on the page*/
    box-sizing: border-box; /*honors our declared widths of 33 and 66%*/
}

a{
  color: $mainOrange;    /*Targets All links on the page*/
}
