.generic-content-container{
 p{   /*Type selector*/
  font-weight: 300;
  line-height: 1.65; /*line-height does not require a unit of measurement*/
  margin:0 0 1.8rem 0;  /* Top Right Bottom Left*/

  @mixin atSmall{
    font-size: 1.125rem;
  }
 }

 p a{/* new rule and decendant selector created to avoid nesting css*/
   font-weight: 700;  /*400 considered normal font-weight*/
 }
}
