.headline {
  font-size: 1.9rem;
  font-weight: 300;
  color: $mainBlue;

  @mixin atSmall{
    font-size: 1.9rem;
  }

  &--centered{  /*Modifier rule created after "centered" modifier class was created in html*/
    text-align: center;
  }

  &--orange{
    color: $mainOrange; /*variable*/
  }
  &--small{
    font-size: 1.2rem;
    @mixin atSmall{
     font-size: 1.875rem;
    }
  }

  &--narrow{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  &--light{
    font-weight: 100;
  }

  strong{
    font-weight: 400;
  }

  &--b-margin-small{
    margin-bottom: .5em;  /* TEXT MARGINS in em because relative to font size of element itself--scales with elements of dif font-sizes*/
  }

  &--b-margin-large{
    margin-bottom: 1.6em;
  }

  &--no-t-margin{
    margin-top: 0;
  }
}
